<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> <%=@post.title%> - <%=link_to @post.link, @post.link%>
      <small>
       <%= link_to raw("<i class=\"glyphicon glyphicon-pencil\"></i>"), edit_post_path(@post), :class=> "btn btn-info"%>
      <%= link_to raw("<i class=\"glyphicon glyphicon-trash\"></i>"), post_path(@post), :method => :delete, data:{confirm: "Are you sure?"}, :class=>"btn btn-danger" %>
      </small></h1>
    </div>
  </div>
</div>